<div *ngFor="let part of (recipe | translateContent: 'parts' : 'array'); let partIndex = index">

  <ion-list-header>
    <span class="part-title">{{ part.title }}</span>
    <ion-note *ngIf="part.desc" item-right>{{ part.desc }}</ion-note>
  </ion-list-header>

  <ion-list>
    <ion-item
      text-wrap
      *ngFor="let ingredient of part.ingredients; let ingredientIndex = index"
      [ngClass]="{ 'ingredient-is-bought': shoppingListMode && isIngredientBought(partIndex, ingredientIndex) }"
      (tap)="onClickIngredient(partIndex, ingredientIndex, ingredient)"
    >
      <ion-checkbox
        *ngIf="shoppingListMode && bulkBuyMode && !isIngredientBought(partIndex, ingredientIndex)"
        (ionChange)="onToggleIngredient(partIndex, ingredientIndex, ingredient, $event)"
      ></ion-checkbox>

      <div class="ingredient-name">{{ ingredient.name }}</div>

      <div item-right class="ingredient-quantity">
        <span>{{ ingredient.quantity }}</span>
        <span *ngIf="ingredient.unit"> {{ ingredient.unit }}</span>
      </div>

    </ion-item>
  </ion-list>
</div>


<div *ngIf="shoppingListMode">
  <!-- button for add all to shopping list -->
  <button
    ion-button
    block
    (tap)="addAllToShoppingList()"
    *ngIf="canRecipeAddedToShoppingList()"
  >{{ 'addAllToShoppingList' | translate }}</button>

  <!-- button for edit mode -->
  <button
    ion-button
    block
    (tap)="onTurnOnBulkBuyMode()"
    *ngIf="!canRecipeAddedToShoppingList() && !isBulkBuyMode() && haventBoughtAllYet()"
  >{{ 'bulkBuyToggle' | translate }}</button>

  <button
    ion-button
    block
    (tap)="onCancelBulkBuyMode()"
    color="danger"
    *ngIf="!canRecipeAddedToShoppingList() && isBulkBuyMode()"
  >{{ 'cancel' | translate }}</button>

  <button
    ion-button
    block
    (tap)="onClickBulkBuy()"
    *ngIf="!canRecipeAddedToShoppingList() && isBulkBuyMode()"
  >{{ 'bulkBuy' | translate }}</button>
</div>

<!-- SOME DUMMY SPACE -->
<div style="height: 50px"></div>
