app-recipe-ingredients {
  .part-title {
    font-size: large;
  }

  .ingredient-is-bought {
    text-decoration: line-through;
    color: grey;
  }

  .ingredient-name {
    margin-left: 10px;
  }

  .ingredient-quantity {
    color: #aaaaaa;
  }
}
