<ion-grid padding>
  <!-- PHOTOS -->
  <ion-row *ngFor="let imageGridRow of imageGrid; let i = index">
    <ion-col *ngFor="let image of imageGridRow; let j = index">
      <div
        class="gallery-photo"
        [ngStyle]="{ 'background-image': 'url(' + image.imageUrl + ')'}"
        *ngIf="image.imageUrl"
        (tap)="onClickImage(image)"
        appSquare
      ></div>
    </ion-col>
  </ion-row>
</ion-grid>
