<ion-tabs selectedIndex="0">
  <ion-tab [root]="recipesPage" tabIcon="book" tabTitle="{{ 'recipes' | translate }}"></ion-tab>
  <ion-tab [root]="shoppingListPage" tabIcon="cart" tabTitle="{{ 'shoppingList' | translate }}"></ion-tab>
  <ion-tab [root]="favoriteRecipesPage" tabIcon="heart" tabTitle="{{ 'favoriteRecipes' | translate }}"></ion-tab>
  <ion-tab [root]="settingsPage" tabIcon="settings" tabTitle="{{ 'settings' | translate }}"></ion-tab>
  <ion-tab *ngIf="isDevMode()" [root]="devPage" tabIcon="build" tabTitle="{{ 'dev' | translate }}"></ion-tab>
</ion-tabs>
