
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'recipes' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="pullToRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button
      ion-item
      *ngFor="let recipe of recipes; let i = index"
      (tap)="onClickRecipe(recipe, i)"
    >
      <ion-thumbnail item-start>
        <img class="thumbnail-aspect-fix" [src]="recipe.thumbnail.imageUrl">
      </ion-thumbnail>
      <h2>{{ recipe | translateContent: 'title' }}</h2>
      <p>{{ recipe | translateContent: 'desc' }}</p>
    </button>
  </ion-list>
</ion-content>
