<ion-card [@timerState]="timerState"
          (tap)="onClickClockFace.emit()">

  <ion-item class="no-bottom-border item">
    <button ion-button large full clear
            class="timer-button timer-text"
            *ngIf="timeInSeconds && timeInSeconds > 0"
    >{{ displayTime }}</button>
  </ion-item>

  <ion-item class="no-bottom-border" *ngIf="showButton && timeInSeconds && timeInSeconds > 0">
    <!--<button ion-button icon-left clear small item-left-->
            <!--color="danger"-->
            <!--(tap)="initTimer()"-->
            <!--*ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">-->
      <!--<ion-icon name="refresh"></ion-icon>-->
      <!--Reset-->
    <!--</button>-->
    <button ion-button icon-left clear small item-right
            color="primary"
            (tap)="pauseTimer()"
            *ngIf="isStarted && isRunning && !isFinished">
      <ion-icon name="pause"></ion-icon>
      Pause
    </button>
    <button ion-button icon-left clear small item-right
            color="primary"
            (tap)="resumeTimer()"
            *ngIf="isStarted && !isRunning && !isFinished">
      <ion-icon name="play"></ion-icon>
      Resume
    </button>
    <button ion-button icon-left clear small item-right
            color="primary"
            (tap)="startTimer()"
            *ngIf="!isStarted">
      <ion-icon name="play"></ion-icon>
      Start
    </button>
  </ion-item>
</ion-card>

<style>
  .timer-button {
    font-size: 5rem !important;
    height: 1em !important;
  }
</style>
