<timer #timerComponent
       (tap)="onPlayPause()"></timer>

<!-- STEPS -->
<div *ngFor="let part of (recipe | translateContent: 'parts' : 'array'); let partIndex = index">

  <ion-list-header>
    <span class="part-title">{{ part.title }}</span>
    <ion-note *ngIf="part.desc" item-right>{{ part.desc }}</ion-note>
  </ion-list-header>

  <ion-list>
    <ion-item
      text-wrap
      *ngFor="let step of part.steps; let stepIndex = index"
      [ngClass]="{
        'previous-step': isPreviousStep(partIndex, stepIndex),
        'current-step': isCurrentStep(partIndex, stepIndex)
      }"
      (tap)="changeCurrentStep(partIndex, stepIndex)"
    >
      <div class="step-line">{{ step.line }}</div>
    </ion-item>
  </ion-list>
</div>

<button
  ion-button
  block
  (tap)="onFinish()"
  *ngIf="isFinishable()"
>{{ 'finish' | translate }}</button>

<!-- SOME DUMMY SPACE FOR FAB -->
<div style="height: 70px"></div>
