app-recipe-steps {
  .hidden {
    display: none;
  }

  .part-title {
    font-size: large;
  }

  .step-line {
    margin-left: 10px;
  }

  .previous-step {
    color:grey;
  }

  .current-step {
    background: #eeeeee;
    font-weight: 600;
  }

  .fab-hack-fix {
    position: fixed;
    transform: translateY(-100%);
  }
}
