<ion-grid padding>
  <!-- THUMBNAIL -->
  <ion-row>
    <ion-col>
      <img class="thumbnail" [src]="recipe.thumbnail.imageUrl">
    </ion-col>
  </ion-row>

  <!-- DESCRIPTION -->
  <ion-row text-justify>
    <ion-col>
      <p>{{ recipe | translateContent: 'desc' }}</p>
    </ion-col>
  </ion-row>

  <!-- SIZE -->
  <ion-row text-justify>
    <ion-col>
      <p>{{ 'size' | translate }} : {{ recipe | translateContent: 'size' }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
