<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'settings' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item (tap)="onClickLanguage()">
      <ion-label>語言/ Language</ion-label>
      <ion-note item-right>{{ language.display }}</ion-note>
    </button>
  </ion-list>
</ion-content>
