
<ion-header>

  <ion-navbar>
    <ion-buttons end >
      <button
        ion-button
        icon-only
        *ngIf="segment == 'ingredients'"
        (tap)="toggleShoppingListMode()"
      >
        <ion-icon name="{{ shoppingListMode ? 'ios-cart' : 'ios-cart-outline' }}"></ion-icon>
      </button>

      <button
        ion-button
        icon-only
        *ngIf="segment == 'overview'"
        (tap)="toggleFavoriteRecipe()"
      >
        <ion-icon name="{{ isRecipeFavorited() ? 'heart' : 'heart-outline' }}"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ recipe | translateContent: 'title' }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>

  <!-- SEGMENT CONTROL-->
  <ion-segment [(ngModel)]="segment" padding #ionSegment>
    <ion-segment-button value="overview">{{ 'overview' | translate }}</ion-segment-button>
    <ion-segment-button value="ingredients">{{ 'ingredients' | translate }}</ion-segment-button>
    <ion-segment-button value="steps">{{ 'steps' | translate }}</ion-segment-button>
    <ion-segment-button value="photos" *ngIf="recipe.images.length > 0">{{ 'photos' | translate }}</ion-segment-button>
  </ion-segment>

  <!-- SEGMENT -->
  <div [ngSwitch]="segment">

    <!-- OVERVIEW SEGMENT-->
    <div *ngSwitchCase="'overview'">
      <app-recipe-overview [recipe]="recipe"></app-recipe-overview>
    </div>

    <!-- INGREDIENTS SEGMENT -->
    <div *ngSwitchCase="'ingredients'">
      <app-recipe-ingredients [recipe]="recipe" [shoppingListMode]="shoppingListMode"></app-recipe-ingredients>
    </div>

    <!-- STEPS SEGMENT -->
    <div *ngSwitchCase="'steps'">
      <app-recipe-steps
        [recipe]="recipe"
        [ionSegmentHeight]="ionSegmentHeight"
        [scrollHeight]="content.scrollHeight"
        [contentHeight]="content.contentHeight"
        (scrollTo)="onStepScrollTo($event)"
        #stepsComponent
      ></app-recipe-steps>
    </div>

    <!-- PHOTOS GALLERY SEGMENT-->
    <div *ngSwitchCase="'photos'">
      <app-recipe-photos [recipe]="recipe"></app-recipe-photos>
    </div>

  </div>

  <!-- SO STUPID THAT PUTTING ION-FAB INSIDE STEPSCOMPONENT WILL NOT WORK ... -->
  <ion-fab right bottom *ngIf="segment === 'steps'">
    <button ion-fab color="secondary">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>

    <ion-fab-list side="left">
      <button
        ion-fab
        color="light"
        (tap)="onForward()"
        [disabled]="!isPlaying()"
      >
        <ion-icon name="fastforward"></ion-icon>
      </button>

      <button
        ion-fab
        color="primary"
        (tap)="onPlayPause()"
      >
        <ion-icon name="{{ isPlaying() ? 'pause' : 'play' }}"></ion-icon>
      </button>

      <button
        ion-fab
        color="danger"
        (tap)="onStop()"
        [disabled]="!isPlaying()"
      >
        <ion-icon name="square"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
