
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'favoriteRecipes' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let recipe of recipes; let i = index">
      <button
        ion-item
        (tap)="onClickRecipe(recipe, i)"
      >
        <ion-thumbnail item-start>
          <img class="thumbnail-aspect-fix" [src]="recipe.thumbnail.imageUrl">
        </ion-thumbnail>
        <h2>{{ recipe | translateContent: 'title' }}</h2>
        <p>{{ recipe | translateContent: 'desc' }}</p>
      </button>

      <ion-item-options side="right">
        <button
          ion-button icon-only
          (tap)="onRemoveFavorite(recipe)"
          color="danger"
          class="sliding-button"
        >
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
