page-shopping-list {
  .recipe-title {
    font-size: large;
  }

  .my-ingredient-quantity {
    color: #aaaaaa;
  }

  .my-deleting-ingredient {
    text-decoration: line-through;
  }

  .sliding-button {
    width: 50px;
    text-align: center;
  }

  // fix no border problem
  .list-ios > .item-wrapper:first-child .item-block {
    border-top: 0.55px solid #c8c7cc;
  }
}

