
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'shoppingList' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <!-- DUMMY SPACE :) -->
  <div style="height: 32px"></div>

  <div *ngFor="let recipeIngredients of reorganizedIngredients">
    <ion-list-header>
      <span class="recipe-title">{{ recipeIngredients | translateContent: 'title' }}</span>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding  *ngFor="let ingredient of recipeIngredients.ingredients">
        <ion-item>
          <div>{{ ingredient | translateContent: 'name' }}</div>
          <div item-right class="my-ingredient-quantity">
            <span>{{ ingredient | translateContent: 'quantity' }}</span>
            <span *ngIf="ingredient.unit"> {{ ingredient | translateContent: 'unit' }}</span>
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button
            ion-button
            icon-only
            (tap)="onRemoveIngredient(ingredient)"
            color="primary"
            class="sliding-button"
          >
            <ion-icon name="ios-cart"></ion-icon>
            <!--<span>{{ 'buy' | translate }}</span>-->
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>

  <!-- DUMMY SPACE :) -->
  <div style="height: 20px"></div>
</ion-content>
