<!--
  Generated template for the DevPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button
        ion-button
        icon-only
        (tap)="onDiscardLogs()"
      >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>dev</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list text-wrap>
    <ion-item
      *ngFor="let log of getDevLogs()"
    >{{ log }}</ion-item>
  </ion-list>
</ion-content>
